extends layout

block content
  h1#wb-cont(property="name")= title
  p Note: The rich text editor is accessible apart from table and image editing. The inaccessible features are only needed to edit "Annex - Tables and Figures". As a workaround, use Internet Explorer 11 to perform the editing in plain text (HTML).
  a(href='/edit/questions') Edit Step 1 question mappings
  br
  a(href='/edit/clauses') Edit Step 2 clauses
  br
  a(href='/edit/infos') Edit Step 3 informative sections (added into "Full requirements" documents)
  br
  h2 Clause loader
  p the clause loader is a feature which should be used with great care. it will bulk overwrite clause records in the database. It is CRITICAL to back up the database before using this feature so that if the import fails you can revert to the previous state.
  a(href='/edit/clause_loader') Bulk update clause records
  